<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezyf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="Binus Ezy Foody"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EzyF">
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".StartActivity"
                    android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".DrinkActivity"></activity>
        <activity android:name=".SnackActivity"></activity>
        <activity android:name=".FoodActivity"></activity>
        <activity android:name=".OrderActivity"></activity>
        <activity android:name=".MyOrder"></activity>
        <activity android:name=".Payment"></activity>
    </application>

</manifest>